<div class="container d-flex full-height">
  <div class="bookings mr-4">
    <div class="link mb-4 mt-3 ml-5">
      <h1> Your bookings <i class="far fa-calendar-check"></i> </h1>
    </div>
      <% current_user.bookings.each do |booking| %>
      <div class="card-your-booking mb-3">
        <%= cl_image_tag booking.offer.photo.key, height: 300, width: 300, crop: :fill %>
        <div class="card-your-booking-infos ml-3">
          <h6 class="mt-2">  <%= booking.offer.title %></h6>
          <p> <strong>Start Date: </strong> <%= booking.start_date %></p>
          <p> <strong>End Date: </strong> <%= booking.end_date %></p>
          <p> <strong>Price: </strong> <%= booking.offer.price %> €</p>
          <div class="link mb-2">
            <% if booking.start_date < Date.current %>
              <p> <strong>Expired</strong></p>
            <% elsif booking.start_date == Date.current %>
               <p> <strong>Party today!</strong></p>
            <% else %>
               <p> <strong><%= ( booking.start_date - Date.current ).to_i %> days remaining before party!</strong></p>
            <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>

  <div class="row mt-1">
    <div class="col-md-12">
      <div class="title-profile mt-4">
        <h3> <i class="fas fa-heart"></i> </h3>
      </div>
      <div class="profile-card-2 mt-4" style="background-image: url(<%= cl_image_path current_user.avatar.key %>)">
        <% if current_user.avatar.attached? %>
          <%#= cl_image_tag current_user.avatar.key %>
        <% else %>
          <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
        <% end %>
        <div class="profile-name"><%= @user.username %></div>
        <div class="profile-username"><%= @user.email %></div>
      </div>
    </div>
  </div>

    <div class="offers ml-4">
      <div class="link mb-4 mt-3 ml-5">
        <h1> Your offers <i class="fas fa-gifts"></i> </h1>
      </div>
        <% current_user.offers.each do |offer| %>
        <div class="card-your-booking mb-3">
          <%= cl_image_tag offer.photo.key, height: 300, width: 300, crop: :fill %>
          <div class="card-your-booking-infos ml-3">
            <h6> <%= offer.title %> </h6>
            <p>  <%= offer.description %></p>
            <p> <strong> <%=  offer.category  %></strong> </p>
            <div class="container-end">
              <p> <strong>Price: </strong> <%= offer.price %> €</p>
              <%= link_to offer_path(offer), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class=" link-delete far fa-trash-alt ml-2 mt-1" style="font-size: 15px;"></i>
               <% end  %>
            </div>
          </div>
        </div>
        <% end %>
    </div>

</div>


  <div class="container-buttons ">
      <%= link_to root_path, class: "navbar-brand" do %>
      <button type="button" class="btn btn-primary">Back to the menu</button>
      <% end %>
  </div>


