<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555421689-491a97ff2040?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  Our offers
</div>


<div class="card-product">
  <% @offers.each do |offer| %>
    <%= cl_image_tag offer.photo.key, height: 300, width: 300, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= offer.title %></h2>
      <p><%= offer.description %></p>
      <p><%= offer.price %></p>
      <p><%= offer.date %></p>
      <p><%= offer.category %></p>
      <%= link_to "Show", offer_path(offer)%>
      <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_offer_path(offer) %>
    </div>
    <%= link_to "Back to the menu", root_path%>
  <% end %>
</div>

