<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1545128485-c400e7702796?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Our offers</h1>
    <a class="btn btn-flat" href="#"><%= link_to "Add an offer", new_offer_path %></a>
  </div>
</div>

<div class="container">

  <div class="row offers">

    <% @offers.each do |offer| %>
      <div class="col-xs-12 col-md-6 col-lg-4">

        <%= link_to offer_path(offer) do %>
          <div class="card-product">
            <%= cl_image_tag offer.photo.key, height: 300, width: 300, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= offer.title %></h2>
              <p><%= offer.price %> €</p>
              <p><%= offer.category %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-buttons">

  <div class="buttons">
    <%= link_to "Back to the menu", root_path%>
  </div>
</div>
