<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1545128485-c400e7702796?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Our offers</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to new_offer_path, class: "navbar-brand" do %>
    <button type="button" class="btn btn-primary">Add an offer</button>
    <% end %>
  </div>
</div>

<div class="all d-flex">
  <div class="left">
    <div class="container">
      <div class="row offers">
        <% @offers.each do |offer| %>
          <div class="col-xs-12">
            <%= link_to offer_path(offer) do %>
              <div class="card-product m-3">
               <%= cl_image_tag offer.photo.key, height: 300, width: 300, crop: :fill %>
                <div class="card-product-infos">
                  <h2><%= offer.title %></h2>
                  <p><%= offer.price %> €</p>
                  <p><strong><%= offer.category %></strong></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right">
    <div id="map"
         style="width: 100%; height: 615px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

<div class="container-buttons">
  <div class="buttons">
    <%= link_to "Back to the menu", root_path%>
  </div>
</div>
