<div class="container">
  <div class="card-trip">
    <%= cl_image_tag @offer.photo.key, height: 400, width: 700, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h1> <%= @offer.title %></h1>
        <p><strong><%= @offer.category %></strong></p>
        <p><%= @offer.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @offer.price %>€</h2>
        <p>Available on the: <%= @offer.date %></p>
        <%= link_to "Edit", edit_offer_path %>
        <%= link_to offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
        <% end  %>
    </div>
  </div>
</div>

<!-- !-- Booking Form ---->
 <div class="container">
  <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit booking", class: "btn btn-primary mr-3" %>
    <%= link_to "Back to offers", offers_path %>
  <% end %>
</div>
