
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card-trip">
          <%= cl_image_tag @offer.photo.key, height: 400, width: 700, crop: :fill %>
          <div class="card-trip-infos">
            <div class="infos-text">
              <div class="row d-flex justify-content-between ml-1">
                <div class="d-flex justify-content-start">
                  <h1 class="mt-10"> <%= @offer.title %></h1>
                  <%= link_to edit_offer_path, method: :get do %>
                    <i class=" link fas fa-pen ml-3 mt-2" style="font-size: 30px;" ></i>
                  <% end %>
                </div>

              </div>
              <div class="ml-1">
                <p><strong><%= @offer.category %></strong></p>
                <span><p class="mt-2"><%= @offer.description %></p></span>
                <span><p class="mt-2"><strong>Available on the: </strong><%= @offer.date %></p></span>
                <div class="d-flex justify-content-between mt-2">
                  <%= link_to offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class=" link far fa-trash-alt" style="font-size: 25px;"></i>
                  <% end  %>
                  <h2><%= @offer.price %>€</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



  <!-- !-- Booking Form ---->

      <div class="card-form">
        <h5 class="card-header">Book your <%= @offer.title %>!</h5>
        <div class="card-body">
          <h5 class="card-title">Choose your dates!</h5>
            <%= simple_form_for [@offer, @booking] do |f| %>
              <%= f.input :start_date%>
              <%= f.input :end_date %>
              <%= f.submit "Submit booking", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>

      <div class="card-ludo">
        <div class="card-body  mt-5">
          <% @offer.reviews.each do |review| %>
              <p> <%= review.content %> </p>
              <div class="d-flex justify-content-between">
                <p>Posted <%= review.created_at.strftime("%A, %b %d") %></p>
                <div class="link">
                  <i class="fas fa-user"></i> <%= review.booking.user.username.capitalize %>
                </div>
              </div>
          <% end %>
        </div>
      </div>


      <div class="review mt-4">
      <div class="give-review">
        <% if @offer.booked?(current_user) %>

          <%= simple_form_for [ @offer.booked?(current_user), Review.new ] do |f| %>
            <%= f.input :content %>
            <%= f.submit "Submit review", class: "btn btn-outline-primary btn-sm" %>
          <% end %>
        <% end %>
      </div>
      </div>

      <div class="mt-4 container-buttons">
        <%= link_to offers_path, class: "navbar-brand" do %>
      <button type="button" class="btn btn-primary">Back to offers</button>
    <% end %>
      </div>
  </div>

