<div class="container">
<h2><%= @offer.title  %></h2>
<p><%= @offer.category %></p>
<p><%= @offer.description %></p>
<p>Price:  <%= @offer.price %>€</p>
<p>Available on the:  <%= @offer.date %></p>
  <%= link_to "Edit", edit_offer_path %>
  <%= link_to "Back to offers", offers_path %>
</div>
  <%= link_to "Back to the menu", root_path%>
